$box-shadow-grey: #d6d6d6;

.pokemon {
    &__wrapper {
        &--card {
            border: 1px solid $box-shadow-grey;
            box-shadow: 0px 2px 10px 3px $box-shadow-grey;
        }
        .loader {
            font-weight: 600;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &-image {
        text-align: center;
    }
    &-content {
        padding: 1em;
        .title {
            text-align: center;
            font-weight: 600;
        }
        .weakness {
            display: flex;
        }
        strong {
            padding-right: .5rem;
        }
        ul {
            margin: 0;
        }
    }
}